body {
  color: #f0f0f0;
  background-color: #232323;
}

.sidebar {
  position: fixed;
  left: -20px;
  top: 15%;
  width: 90px;
  height: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  border-radius: 15px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  background: linear-gradient(45deg, #28f29c, #0cb8e0);
}

.sidebar:hover {
  width: 250px;
}

.sidebar a {
  position: relative;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f0f0f0;
  display: block;
  transition: 0.5s;
}

.sidebar a:hover {
  font-size: 40px;
}

.sidebar img {
  padding: 8px 8px 8px 32px;
  width: 50px;
  height: 50px;
  transition: 0.5s;
}

.sidebar img:hover {
  width: 80px;
  height: 80px;
}

.playerbar {
  position: absolute;
  background: #2d2d2d;
  left: 10%;
  bottom: 5%;
  width: 80%;
  height: 90px;
  transition: 0.5s;
  border-radius: 25px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

.playerbar:hover {
  left: 9%;
  bottom: 4.5%;
  width: 82%;
  height: 92px;
}
